---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import { getFeaturesData, getLandingData } from "@/services/data.service";
import { snakeCase } from "@ryot/ts-utils";

const data = await getLandingData();
const featuresData = await getFeaturesData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main>
    <div class="py-56 flex flex-col gap-y-20 md:gap-y-32">
      <div class="px-3 text-center">
        <h1 class="text-5xl md:text-6xl font-bold">Features</h1>
        <p class="text-slate-500 mt-8 md:mt-16 md:text-xl">
          An overview of all the features Ryot Pro provides.
        </p>
      </div>
      {
        featuresData.map((feature, index) => (
          <div
            id={snakeCase(feature.name)}
            class="px-4 md:px-60 gap-y-4 flex flex-col"
          >
            <h2 class="text-2xl font-semibold md:text-4xl md:font-normal">
              {feature.name}
            </h2>
            <div
              class={`gap-y-5 flex flex-col-reverse items-center justify-between md:gap-x-10 ${index % 2 === 1 ? "md:flex-row-reverse" : "md:flex-row"}`}
            >
              <ul
                class={feature.points.length > 1 ? "list-disc list-inside" : ""}
              >
                {feature.points.map((point) => (
                  <li class="md:text-xl">{point}</li>
                ))}
              </ul>
              <img
                src={feature.image}
                class={`lg:w-[600px] ${!feature.noBorder ? "border rounded-lg shadow-lg" : ""}`}
              />
            </div>
          </div>
        ))
      }
      <div class="px-4 text-center">
        <p class="md:text-xl">
          Have a feature request?
          <a href="/#contact-section" class="underline text-blue-500"
            >Contact us</a
          > to let us know.
        </p>
      </div>
    </div>
    <Footer data={data.footerData} />
  </main>
</Layout>
