---
import Action from "@/components/Action.astro";
import type { HeaderData } from "@/config/landing.interface";

interface Props {
  data: HeaderData;
}

const { data } = Astro.props;
---

<header
  id="navbar"
  class="w-full transition duration-300 justify-center fixed h-20 z-50 hidden md:flex"
>
  <nav aria-label="Main Navigation" class="flex flex-row items-center w-3/4">
    <div class="flex items-center gap-x-2 text-nowrap">
      <Action as="a" class="text-xl flex items-center gap-x-2" href="/">
        <img src={data.logoPath} alt={data.logo} class="h-9 w-9" />
        <span>{data.logo}</span>
      </Action>
    </div>
    <ul class="flex flex-row w-full justify-center gap-x-14">
      {
        data.links.map((item) => (
          <li class="text-lg hover:scale-110 hover:opacity-80">
            <Action as="a" href={item.href}>
              {item.label}
            </Action>
          </li>
        ))
      }
    </ul>
    <span></span>
  </nav>
</header>

<script>
  window.addEventListener("scroll", function () {
    const navbar = document.getElementById("navbar");
    if (!navbar) return;

    if (window.scrollY >= 20) {
      navbar.classList.remove("border-b-transparent");
      navbar.classList.remove("bg-transparent");
      navbar.classList.add("border-b");
      navbar.classList.add("border-b-slate-300");
      navbar.classList.add("bg-white");
    } else {
      navbar.classList.remove("border-b");
      navbar.classList.remove("border-b-slate-300");
      navbar.classList.remove("bg-white");
      navbar.classList.add("border-b-transparent");
      navbar.classList.add("bg-transparent");
    }
  });
</script>
