---
import Action from "@/components/Action.astro";
import Card from "@/components/Card.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { PricingData } from "@/config/landing.interface";

interface Props {
  data: PricingData;
}

const { data } = Astro.props;
---

<script>
  import * as Paddle from "@paddle/paddle-js";

  const isPaddleSanbox = import.meta.env.PUBLIC_PADDLE_SANDBOX === "true";
  const paddleClientToken = import.meta.env.PUBLIC_PADDLE_CLIENT_TOKEN;
  let paddlePricings = import.meta.env.PUBLIC_PADDLE_PRICINGS;

  if (!paddleClientToken || !paddlePricings)
    throw new Error("Paddle client token or pricings are not set");

  const parsedPaddlePricings: Record<string, string> =
    JSON.parse(paddlePricings);

  const paddle = await Paddle.initializePaddle({
    token: paddleClientToken,
    environment: isPaddleSanbox ? "sandbox" : undefined,
  });

  if (!paddle) throw new Error("Paddle could not be initialized");

  const checkoutButtons = document.querySelectorAll(".checkout-button");

  if (Object.keys(parsedPaddlePricings).length !== checkoutButtons.length)
    throw new Error("Paddle pricings and buttons do not match");

  for (const button of checkoutButtons) {
    const tier = button.getAttribute("data-tier")?.toLowerCase();
    if (!tier) throw new Error("Tier is not set");
    const priceId = parsedPaddlePricings[tier];

    button.addEventListener("click", () => {
      paddle.Checkout.open({ items: [{ priceId }] });
    });
  }
</script>

<section class="mt-48" id="pricing-section">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div class="text-center mt-10 md:w-2/3 mx-auto">
    <p>
      These prices are not final. Discussions are ongoing to arrive at something
      users will be happy with. To participate in the discussion, please join
      the Discord server.
    </p>
  </div>
  <div
    class="my-20 grid grid-cols-1 md:grid-cols-3 gap-y-10 place-items-center"
  >
    {
      data.tiers.map((tier) => (
        <Card>
          <header class="flex items-center justify-center gap-x-5">
            <h3 class="text-4xl text-center font-semibold">{tier.title}</h3>
            {tier.price.trial && (
              <span class="text-sm underline">
                {tier.price.trial} days trial
              </span>
            )}
          </header>
          <section class="flex justify-center">
            <h4 class="text-6xl font-semibold">
              {tier.price.amount}
              {tier.price.period && (
                <span class="font-normal text-xl opacity-85">
                  {tier.price.period}
                </span>
              )}
            </h4>
          </section>
          <footer class="flex justify-center">
            <Action
              as="a"
              class="bg-primary text-white w-72 checkout-button cursor-pointer"
              type="button"
              data-tier={tier.title}
            >
              {tier.cta}
            </Action>
          </footer>
        </Card>
      ))
    }
  </div>
  <div class="text-center">
    <p>
      Once you have paid, the Pro Key will be sent to your email. For support,
      please use the email/form below.
    </p>
  </div>
</section>
