---
import Action from "@/components/Action.astro";
import Card from "@/components/Card.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { PricingData } from "@/config/landing.interface";

interface Props {
  data: PricingData;
}

const { data } = Astro.props;
---

<section class="mt-48" id="pricing-section">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div
    class="my-20 grid grid-cols-1 md:grid-cols-3 gap-y-10 place-items-center"
  >
    {
      data.tiers.map((tier) => (
        <Card>
          <header class="flex items-center justify-center gap-x-5">
            <h3 class="text-4xl text-center font-semibold">{tier.title}</h3>
            {tier.price.trial && (
              <span class="text-sm underline">
                {tier.price.trial} days trial
              </span>
            )}
          </header>
          <section class="flex justify-center">
            <h4 class="text-6xl font-semibold">
              {tier.price.amount}
              {tier.price.period && (
                <span class="font-normal text-xl opacity-85">
                  {tier.price.period}
                </span>
              )}
            </h4>
          </section>
          <footer class="flex justify-center">
            <Action
              as="a"
              class="bg-primary text-white w-72"
              type="button"
              href="#"
            >
              {tier.cta}
            </Action>
          </footer>
        </Card>
      ))
    }
  </div>
  <div class="text-center">
    <p>
      Once you have paid, the Pro Key will be sent to your email. For support,
      please use the email/form below.
    </p>
  </div>
</section>
